* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cause", sans-serif;
}

.cards {
  flex: 0 0 210px;
  width: 210px;
  height: 233px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}
